@{
    ViewBag.Title = "Acerca de";
}
<div class="container">
    <h2>Acerca de Ingesis Blog</h2>
    <p>
        Ingesis Blog es un blog para personas interesadas en aprender sobre informática. Es para el lector que desee saber más sobre tecnología.
        Nuestro objetivo es proporcionar información y contenido que sea útil. Los artículos que verá aquí tienen un propósito específico y pueden ayudarlo a comprender una variedad de temas relacionados con la ingeniería de sistemas. Nos esforzamos por ayudar a las personas que se encuentran inmersas en este campo de estudio.
    </p>
</div>