@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Contacto</h2>

    <address>
        <strong>Ayuda y/o sugerencias: </strong>   <a href="mailto:juan.pablo.999@outlook.com">juan.pablo.999@outlook.com</a><br />
    </address>
</div>